<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="MonitoringServer"
					  address="net.tcp://localhost:4000/IMonitoringServerTest"
					  binding="netTcpBinding"
					  contract="Common.IMonitoringServerTest"/>
			<endpoint name="Server"
					  address="net.tcp://localhost:4001/IServerTest"
					  binding="netTcpBinding"
					  contract="Common.IServerTest"/>
		</client>
	</system.serviceModel>
</configuration>